<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How We Work</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffee</h4>
                    <p class="text-muted">We start every project talking with you about your organization or business and its needs. We like to take into account any idea you have because nobody knows the business more than you. Goals and vision are paramount and we’ll help you realize both.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plan</h4>
                    <p class="text-muted">Great ideas start with critical thinking & creative exploration. Understanding people’s experiences and the context in which they live, is the key to success. We analyze the market, scouting for references and researching for competitors.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-object-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">We deliver pixel-perfect web designs. Every details helps to create engaging products and services that generate memorable experiences, which lead to customer loyalty and in the end, the satistaction of our clients and us.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-television fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Develop</h4>
                    <p class="text-muted">Gone are the days of developing for one type of experience. Your product should shine on any screen. We deliver on time with an exceptional sense of quality and pride using the best project management tools and techniques.</p>
                </div>
            </div>
        </div>
    </section>
